.page404_wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.page404_info {
    font-size: 24px;
}

.page404_text {
    font-size: 46px;
}

.page404_link {
    color: blue;
    font-size: 30px;
}