@import './template/colors.scss';
.all_portfolio_wrapper {
    display: flex;
    flex-direction: column;
    background-color: $color_white;
}

.all_portfolio_header {
    margin: 20px 0px;
}

.all_portfolio_title_wrap {
    margin: 40px 0px;
}

.all_portfolio_title_text {
    font-size: 60px;
    font-weight: 400;
    color: $color_text_black;
    text-align: center;
}

.all_portfolio_category_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.all_portfolio_category_item {
    // background-color: $color_light;
    padding: 20px 40px;
    font-size: 25px;
    color: $color_text_black;
    border-radius: 10px;
    background: #FFF;
/* regular shadow */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: perspective(200px);
        transform: scale(1.01);
        box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.all_portfolio_content_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.all_portfolio_content_block {
    position: relative;
    width: 30%;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: perspective(200px);
        transform: scale(1.01);
        box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.35);
        .all_portfolio_content_block_info{
            display: flex;
        }
    }
}

.all_portfolio_content_block_img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: $color_light;
    object-fit:cover
}

.all_portfolio_content_block_info{
    position: absolute;
    transition: all 0.3s ease-in-out;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    height: 30%;
    width: 100%;
    gap: 10px;
    padding: 10px 20px 30px 20px;
    color: #FFF;
    background: linear-gradient(0deg, #232323 0%, rgba(85, 85, 85, 0.65) 41.15%, rgba(255, 255, 255, 0.00) 100%);
    h4{
        font-size: 30px;
        font-weight: 800;
    }
    p{
        font-size: 20px;
        font-weight: 500; 
    }

}

.all_portfolio_category_item_curent{
    background: #191919;
    color: #FFF;
    font-weight: 800;
}