@import './template/colors.scss';

.call_to_action_wrap {
    color: $color_text_black;
    height: 100vh;
    padding-top: 30px;
    display: flex;
    // background: linear-gradient(247deg, #f1f1f1 56.51%, #f4f1f2 100%);
    // background: url(../public/img/fon-img-firsht-second2.png) linear-gradient(247deg, #f1f1f1 56.51%, #f4f1f2 100%);
    background-image: url(../public/img/fon-img-firsht-second2.png), linear-gradient(247deg, #f1f1f1 56.51%, #f4f1f2 100%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.call_to_action_content_wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.call_to_action_main_text {
    padding-bottom: 8%;
    position: relative;
    text-align: start;
}

.call_to_action_main_text_developer {
    font-size: 44px;
    font-weight: 800;
}

.call_to_action_main_text_site {
    font-size: 140px;
    font-weight: 800;
    z-index: 1;
}

.call_to_action_main_text_site_block {
    position: relative;
}

.call_to_action_main_text_buisness {
    color: $color_red_main;
    font-size: 44px;
    font-weight: 800;
}

.call_to_action_main_text_site_block {

}

.call_to_action_individual_approach_wrap {
    border: 2px solid $color_warning;
    border-radius: 50%;
    transform: rotate(10deg);
    width: 172px;
    height: 61px;
    position: absolute;
    right: -25%;
    bottom: -30%;
    z-index: 2;
}

.call_to_action_individual_approach_text {
    transform: rotate(-10deg);
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 0px 0px 5px;
}
.call_to_action_list_wrap {
    font-size: 20px;
    text-align: start;
}

.call_to_action_create_button_wrap {
    margin-top: 30px;
    width: 400px;
    height: 70px;
}

.call_to_action_create_button {
    background: $color_red_main;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: $color_light;
    font-size: 25px;
    font-weight: 700;
}

.call_to_action_img_wrap {
    width: 50%;
    // background-image: url('../public/img/bc-call-to-action.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
}

.call_to_action_img {
    object-fit: contain;
    object-position: bottom;
    height: 100%;
}


@media(max-width: 1310px) {
    .call_to_action_main_text_site {
        font-size: 100px;
    }
    .call_to_action_individual_approach_wrap {
        right: -40%;
        bottom: -40%;
    }
}

@media(max-width: 860px) {
    .call_to_action_wrap {
        flex-direction: column;
    }

    .call_to_action_content_wrap {
        width: 100%;
    } 
    .call_to_action_img_wrap {
        width: 100%;
    }
    .call_to_action_img {
        display: block;
        width: 100%;
        height: 100%;
        // background-image: url(../public/img/fon-img-firsht-second.png);
    }
    .call_to_action_create_button_wrap {
        max-width: 90%;
        margin-bottom: 5px;
    }
    .call_to_action_list_wrap {
        font-size: 16px;
    }
    .call_to_action_individual_approach_wrap {
        top: -30%;
        right: -25%;
        transform: rotate(-22deg);
    }
    .call_to_action_individual_approach_text {
        transform: rotate(22deg);
    }
}

@media(max-width: 560px) {
    .call_to_action_individual_approach_wrap {
        top: -50%;
        right: -25%;
    }
    .call_to_action_main_text_developer {
        font-size: 30px;
    }
    .call_to_action_main_text_site {
        font-size: 80px;
    }
    .call_to_action_main_text_buisness {
        font-size: 30px;
    }
    .call_to_action_list_wrap {
        font-size: 12px;
    }
    .call_to_action_create_button_wrap {
        height: 45px;
    }
}

@media(max-width: 460px) {
    .call_to_action_individual_approach_wrap {
        top: -40%;
        right: -25%;
        width: 140px;
        height: 50px;
    }
    .call_to_action_individual_approach_text {
        font-size: 12px;
    }
    .call_to_action_content_wrap {
        justify-content: center;
        align-items: flex-start;
        padding-left: 20px;
    }
}

@media(max-width: 360px) {
    .call_to_action_individual_approach_wrap {
        right: -5%;
    }
}