@import './template/colors.scss';
.contact_form_block {
    max-width: 500px;
    width: 80%;
}

.contact_form_text {
    color: $color_text_black;
    text-align: center;
}

.contact_form_main_text_wrap {
    margin-top: 20px;
}
.contact_form_main_text {
    font-size: 20px;
}

.contact_form_name_input_wrap {
    margin-top: 30px;
}

.contact_form_name_input_text {
    text-align: start;
    font-size: 24px;
}

.contact_form_input {
    width: 100%;
    border: 1px solid var(--display-2, #828282);
    border-radius: 10px;
    height: 40px;
    margin: 10px 0px;
    background-color: $color_light;
    color: $color_text_black;
}

.contact_form_phone_input_wrap {

}

.contact_form_phone_input_text {
    text-align: start;
    font-size: 24px;
}

.contact_form_phone_input_messengers_wrap {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.messenger_icon {
    width: 40px;
    height: 40px;
    color: $color_text_black;
    cursor: pointer;
    &:hover {
        color: $color_red_main;
    }
}

.contact_form_phone_input_example {
    text-align: start;
    font-size: 14px;
    color: $color_text_black;
}

.contact_form_button_wrap {
    margin: 30px 0px;
    height: 40px;
}

.contact_form_button {
    background: $color_red_main;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 700;
}

.active_icon {
    svg {
        color: $color_red_main;
    }
}

@media(max-width: 1100px) {
    .focus_atention_text {
        font-size: 40px;
    }
    }