@import './template/colors.scss';
.contact_form_block {
    max-width: 500px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
}

.contact_form_text_title{
    text-align: center;
    font-size: 24px;
}

.contact_form_text {
    color: $color_text_black;
    text-align: left;
    
}

.contact_form_icons_wrap_one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #515151;
    border-radius: 50%;
    border: 1px solid #999999;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: #232323;
        border: 1px solid $color_red_main;
        svg{
            fill: $color_red_main;
        }
    }
    svg{
        fill: #999999;
        width: 80%;
        height: 80%;
        transition: all 0.3s ease-in-out;
    }
}

.contact_form_phone_input_example_phone{
    color: #828282;
    // width: 200px;
}

.contact_form_main_text_wrap {
    margin-top: 20px;
}
.contact_form_main_text {
    font-size: 20px;
}

.contact_form_name_input_wrap {
    margin-top: 30px;
}

.contact_form_name_input_text {
    text-align: start;
    font-size: 24px;

}

.contact_form_input {
    width: 100%;
    border: 1px solid var(--display-2, #828282);
    border-radius: 10px;
    height: 40px;
    margin: 10px 0px;
    background-color: $color_light;
    color: $color_text_black;
    padding: 5px 10px;
}

.contact_form_phone_input_wrap {

}

.contact_form_phone_input_text {
    text-align: start;
    font-size: 24px;
}

.contact_form_phone_input_messengers_wrap {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.messenger_icon {
    width: 20px;
    height: 20px;
    color: $color_text_black;
    cursor: pointer;
}

.contact_form_phone_input_example {
    text-align: start;
    font-size: 14px;
    color: $color_text_black;
}

.contact_form_button_wrap {
    margin: 30px 0px;
    height: 40px;
}

.contact_form_button {
    background: $color_red_main;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 700;
}

// .active_icon {
//     svg {
//         // color: $color_red_main;
//         fill: $color_red_main;
//     }
// }

@media(max-width: 1100px) {
    .focus_atention_text {
        font-size: 40px;
    }
    }



//---- new icon styles

.wrapper {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
     &:hover {
        svg {
            color: white;
        }
     }   
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .phone:hover,
  .wrapper .phone:hover .tooltip,
  .wrapper .phone:hover .tooltip::before {
    background: #131313;
    color: #ffffff;
  }
  
  .wrapper .telegram:hover,
  .wrapper .telegram:hover .tooltip,
  .wrapper .telegram:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .viber:hover,
  .wrapper .viber:hover .tooltip,
  .wrapper .viber:hover .tooltip::before {
    background: #59267c;
    color: #ffffff;
  }
  
  .wrapper .whatsapp:hover,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip::before {
    background: #047741;
    color: #ffffff;
  }
  
  .wrapper .mail:hover,
  .wrapper .mail:hover .tooltip,
  .wrapper .mail:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }

  .active_phone {
    background: #131313 !important;
    svg {
      color: white;
  }
  }

  .active_telegram {
    background: #1DA1F2 !important;
    svg {
      color: white;
  }
  }

  .active_viber {
    background: #59267c !important;
    svg {
      color: white;
  }
  }

  .active_whatsapp {
    background: #047741 !important;
    svg {
      color: white;
  }
  }

  .active_mail {
    background: #CD201F !important;
    svg {
      color: white;
  }
  }