@import './template/colors.scss';

.focus_atention_wrap {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color_light;
}

.focus_atention_bc_image_text_wrap {
    width: 30%;
    position: relative;
}

.focus_atention_bc_image_wrap {
    max-width: 225px;
    max-height: 225px;
}

.focus_atention_bc_image {
    width: 100%;
    height: auto;
}

.focus_atention_text_wrap {
    max-width: 500px;
    position: absolute;
    top: 70px;
    right: -5%;
}

.focus_atention_text {
    font-size: 44px;
    transform: rotate(-5.906deg);
    font-weight: 500;
    color: $color_text_black;
}

.focus_atention_form_wrap {
    width: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
}

.focus_atention_main_photo_wrap {
    width: 30%;
}
.focus_atention_main_photo {
    width: 100%;
    height: auto;
}

@media(max-width: 1100px) {
.focus_atention_text {
    font-size: 40px;
}
}

@media(max-width: 920px) {
    .focus_atention_main_photo_wrap {
        display: none;
    }

    .focus_atention_wrap {
        flex-direction: column;
    }

    .focus_atention_form_wrap {
        margin-top: 50px;
        width: 80%;
    }

    .focus_atention_bc_image_text_wrap {
        width: 80%;
    }
    }

    @media(max-width: 600px) {
        .focus_atention_text {
            font-size: 30px;
        }
    }