@import './template/colors.scss';

.portfolio_wrap {
    background-color: $color_white;
}

.portfolio_block {
    margin-top: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.portfolio_template_block {
    // width: 400px;
    // height: 550px;
    width: 30%;
    height: auto;
    margin: 10px 0px;
}

.portfolio_items_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio_template_img {
    // width: auto;
    // height: auto;
    border-radius: 10px;
    // background: #F8F9FA;
    object-fit: cover;
}

.portfolio_button_wrap {
    display: flex;
    justify-content: center;
}
.portfolio_button_block {
    margin-top: 30px;
    width: 300px;
    height: 40px;
}

.portfolio_button {
    background: #FF6969;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 700;
    a {
        color: $color_white;
    }
}

@media(max-width: 1000px) {
    .portfolio_template_block {
        width: 45%;
    }
}

@media(max-width: 550px) {
    .portfolio_template_block {
        width: 90%;
    }
}