.reviews_wrap {
    // background-image: url('../public/img/bc-review-decstop.svg');
}

.reviews_text_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews_text {
    width: 50%;
    font-size: 18px;
    font-weight: 600;
}

.reviews_all_items_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media(max-width:1400px) {
    .reviews_text {
        width: 80%;
    }
}

@media(max-width:450px) {
    .reviews_text {
        width: 90%;
    }
}