.reviews_wrap {
    // background-image: url('../public/img/bc-review-decstop.svg');
    background-image: url('../public/img/unsplash_FlPc9_VocJ4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews_text_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.reviews_text {
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.reviews_all_items_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;

}

@media(max-width:1400px) {
    .reviews_text {
        width: 80%;
    }
}

@media(max-width:450px) {
    .reviews_text {
        width: 90%;
    }
}