@import './template/colors.scss';

.seven_step_wrap {
    background-image: url('../public/img/bc-seven-steps-decstop.svg');
}
.seven_step_round_blocks_main_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}