@import './template/colors.scss';

.site_dream_wrap {
    padding-bottom: 50px;
    background-color: $color_white;
}

.site_dream_main_block {
    display: flex;
}

.site_dream_contact_form_wrap {
    width: 40%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    margin: 0px 60px;
}

.site_dream_image_wrap {
    width: 60%;
    display: flex;
}

.site_dream_image {
    width: 100%;
    height: 100%;
}

@media(max-width: 900px) {
    .site_dream_image_wrap {
        display: none;
    }

    .site_dream_main_block {
        justify-content: center;
    }
}

@media(max-width: 700px) {
    .site_dream_contact_form_wrap {
        width: 60%;
    }
}

@media(max-width: 450px) {
    .site_dream_contact_form_wrap {
        width: 80%;
    }
}

@media(max-width: 350px) {
    .site_dream_contact_form_wrap {
        width: 95%;
        margin: 0px;
    }
}