.switcher_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switcher_block {
    border: 1px solid black;
    border-radius: 5px;
    width: 45px;
    height: 25px;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    &:hover {
        background-color: #131313;
        .switcher_item {
            color: white;
        }
    }
}

.switcher_item {
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.switcher_active {
    background-color: #131313;
    .switcher_item {
        color: white;
    }
}