@import './template/colors.scss';

.guarante_directions_wrap {
    background-color: $color_white;
}

.guarante_wrap {
    padding-top: 30px;
}

.guarante_item_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.guarante_directions_tempale_item_wrap {
    width: 336px;
    height: 243px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px 30px 0px 30px;
    color: $color_text_black;
    border-radius: 10px;
    &:hover {
        color: $color_red_main;
    }
}

.guarante_directions_icon {
    width: 100px;
    height: 100px;
}

.guarante_directions_tempale_item_text {
    font-size: 20px;
    text-align: center;
}